/*CSS reset, with my preferences*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  margin-top: 0.2rem;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ul,
ol,
li {
  list-style-type: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*End of reset code*/

:root {
  --main-bg-color: #f2e9e9;
  --main-text-color: #843838;
  --main-font-size: 20px;
  --main-top-padding: 10px;
  --main-top-margin: 10px;
}

html {
  height: 100vh;
  font-size: var(--main-font-size);
  padding-top: 3px;
  margin-top: 3px;
}

body {
  min-height: 100%;
  font-family: "Segoe UI", Calibri, Helvetica;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

h1 {
  font-weight: 500;
  font-size: 1.5rem;
}

.App {
  position: relative;
  min-height: 100vh;
  text-align: center;
}

.Content {
  min-height: 100vh;
  margin-bottom: 100px;
}

.Content-page_numbers {
  position: relative;
  padding-bottom: 10px;
}

.websiteTitle_title {
  border-bottom: 0.5px solid var(--main-text-color);
}

.websiteTitle_quote {
  padding-top: 0.15rem;
  font-family: gabriola;
  font-weight: 500;
}

.websiteTitle_container > p {
  font-size: 0.4rem;
  font-weight: 300;
  padding-top: 5px;
}

.search_container_button {
  display: block;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  border: 1px solid var(--main-text-color);
  padding: 1px 20px;
  cursor: pointer;
  font-size: 0.8rem;
  margin: 0 auto;
  margin-top: 10px;
}

.search_container_button:hover {
  background-color: var(--main-text-color);
  color: var(--main-bg-color);
}

.search_container_button-unactive {
  cursor: not-allowed;
}

.mobileFilter_button {
  position: absolute;
  visibility: hidden;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  border: 1px solid var(--main-text-color);
  padding: 1px 20px;
  cursor: pointer;
}

.mobileFilter_button:hover {
  color: var(--main-bg-color);
  background-color: var(--main-text-color);
}

.mobileFilter_button-unactive {
  cursor: not-allowed;
}

.filter_button {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  border: 1px solid var(--main-text-color);
  padding: 1px 20px;
  cursor: pointer;
}

.filter_button:hover {
  background-color: var(--main-text-color);
  color: var(--main-bg-color);
}

.hide_filter_container {
  visibility: hidden;
  position: absolute;
}

.search-errors {
  display: inline-block;
  border: 1px solid var(--main-bg-color);
  border-radius: 10px;
  background-color: var(--main-text-color);
  color: var(--main-bg-color);
  font-weight: 300;
  margin: 6px auto;
  padding: 6px;
  text-align: center;
  font-size: 0.8rem;
}

.movie_search_container {
  padding-top: 0.3rem;
}

.movieTitle-errors {
  display: inline-block;
  border: 1px solid var(--main-bg-color);
  border-radius: 10px;
  background-color: var(--main-text-color);
  color: var(--main-bg-color);
  font-weight: 300;
  margin: 12px auto;
  padding: 12px;
  text-align: center;
  font-size: 0.8rem;
}

.movieTitle-unactive {
  cursor: not-allowed;
}

.titleContain_container {
  margin-top: 0.01rem;
}

.titleContain_text {
  font-size: 0.6rem;
}

.movie_genre_container_plus_name {
  padding-top: 0.5rem;
  margin: 0 auto;
}
.movie_genre_container {
  display: grid;
  grid-template-columns: 2fr auto;
  margin: 0 auto;
  max-width: 230px;
  max-height: 250px;
  text-align: left;
  margin-bottom: 20px;
}

.movie_genre_genres {
  font-size: 0.7rem;
}

.movieGenre-errors {
  display: inline-block;
  border: 1px solid var(--main-bg-color);
  border-radius: 10px;
  background-color: var(--main-text-color);
  color: var(--main-bg-color);
  font-weight: 300;
  margin: 12px auto;
  padding: 12px;
  text-align: center;
}

.genreSpecific_genre {
  font-size: 0.6rem;
}

.release_year_container {
  display: block;
  width: 150px;
  margin: 0 auto;
  margin-top: 1em;
}

.release_year_container > ul {
  border: 1px solid var(--main-text-color);
}

.release_year_container > ul li {
  border-bottom: 1px solid var(--main-text-color);
  padding-bottom: 0.3em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0.3em;
  padding-top: 0.3em;
  margin-top: 0px;
}

.release_year_container > ul li:last-child {
  border: none;
}

.release_year_active {
  background-color: var(--main-text-color);
  color: var(--main-bg-color);
}

.release_year-unactive {
  cursor: not-allowed !important;
}

.release_year-pointer {
  cursor: pointer;
}

.SingleMovieResult-container {
  position: absolute;
  border: 1px solid var(--main-text-color);
  background-color: var(--main-bg-color);
  z-index: 4;
  width: 70%;
  padding: 20px;
  box-shadow: 0px 0px 1.5px;
}

.SingleMovieResult-title {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.SingleMovieResult-image {
  width: 110px;
  height: 166px;
}

.SingleMovieResult-genre {
  font-size: 0.7rem;
  margin-bottom: 5px;
  margin-top: 5px;
  font-weight: 400;
}

.SingleMovieResult-individual_entries {
  font-size: 0.7rem;
  font-weight: 400;
}

.SingleMovieResult-overview {
  border-top: 1px solid var(--main-text-color);
  margin-top: 10px;
  padding-top: 10px;
  font-size: 1rem;
  line-height: 1.4;
}

.movieResults_container {
  font-size: 0.6rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 300px;
  margin: 0 auto;
  padding: 0 auto;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  margin-top: 0.8em;
}

.movieResults_individual_results {
  border: 1px solid var(--main-text-color);
  display: flex;
  align-items: center;
  width: 300px;
  min-height: 170px;
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 8px;
}

.movieResults_individual_results:hover {
  cursor: pointer;
  color: var(--main-bg-color);
  background-color: var(--main-text-color);
}

.movieResults_text_results {
  display: inline-block;
  padding: auto;
  margin: auto;
  width: 59%;
}

.movieResults_image_results {
  display: inline-block;
  padding: auto;
  margin: auto;
  width: 39%;
}

.movieResults_individual_titles {
  font-size: 1rem;
  font-weight: 700;
}

.movieResults_individual_date > span {
  font-weight: 500;
  font-size: 0.7rem;
}

.movieResults_individual_genre_ids > span {
  font-weight: 500;
  font-size: 0.7rem;
}

.movieResults_individual_images {
  width: 89px;
  height: 134px;
}

.movieResults-loading_container {
  position: relative;
  top: 0px;
  font-weight: 500;
  font-size: 1.1rem;
}

.movieResults-loading_statement {
  margin-top: 30px;
  font-weight: 400;
}

.movieResults-stop_searching {
  box-shadow: 0px 0px 1px var(--main-text-color);
  padding: 12px;
  cursor: pointer;
  margin-top: 12px;
  color: var(--main-bg-color);
  background-color: var(--main-text-color);
}

.movieResults-stop_searching:hover {
  box-shadow: 0px 0px 5px var(--main-text-color);
}

.pageNumbers_container {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: right;
  width: 100%;
  padding-bottom: 5px;
}

.pageNumbers_individual_numbers {
  width: inherit;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--main-text-color);
}

.pageNumbers_real_numbers {
  padding-left: 8px;
  padding-right: 8px;
  cursor: pointer;
}

.pageNumbers-inactive {
  cursor: not-allowed;
}

.pageNumber-border {
  border: 1px solid var(--main-text-color);
}

@media screen and (min-width: 820px) {
  .App {
    text-align: left;
  }

  .SingleMovieResult-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
  }

  #SingleMovieResult {
    top: 10% !important;
  }

  .SingleMovieResult-title {
    width: 100%;
  }

  .SingleMovieResult-image {
    width: 229px;
    height: 348px;
  }

  .SingleMovieResult-genre {
    display: inline-block;
    width: 100%;
    font-size: 1rem;
  }

  .SingleMovieResult-individual_entries {
    width: 100%;
    font-size: 1rem;
    font-weight: 300;
  }

  .SingleMovieResult-overview {
    width: 80%;
    font-size: 1.2rem;
  }

  .header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    min-width: 100%;
    border-bottom: 1px solid var(--main-text-color);
  }

  .websiteTitle_container {
    padding-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  #TMDB-logo {
    order: 2;
    margin: 0;
    margin-right: 25px;
  }

  .websiteTitle_title {
    order: 1;
    border: none;
    padding-left: 25px;
    font-size: 1.5rem;
  }

  .websiteTitle_quote {
    position: absolute;
    visibility: hidden;
  }
  .websiteTitle_container > p {
    text-align: center;
  }

  .search_container {
    visibility: hidden;
    position: absolute;
  }

  .mobileFilter_button {
    visibility: visible;
    position: static;
  }

  .filter_button {
    visibility: hidden;
    position: absolute;
  }

  .movie_genre_container {
    margin: 0 auto;
    padding-left: 4%;
  }

  .movie_genre_genres {
    font-size: 0.65rem;
  }

  .complete_filter_container {
    visibility: visible;
    position: absolute;
    min-width: 23%;
    max-width: 23%;
    padding-top: 15px;
    text-align: center;
    min-height: 100%;
  }

  .complete_filter_container_minus_filter {
    visibility: visible;
    position: static;
  }

  .results_and_page_numbers_container {
    margin-top: 0;
    min-width: 77%;
    max-width: 77%;
    padding-top: 15px;
    margin-left: 23%;
  }

  .movieResults_container {
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
  }

  .movieResults_individual_results {
    display: flex;
    align-items: center;
    width: 300px;
    min-height: 170px;
  }

  .movieResults_text_results {
    display: inline-block;
    padding: auto;
    margin: auto;
    width: 59%;
  }

  .movieResults_image_results {
    display: inline-block;
    padding: auto;
    margin: auto;
    width: 39%;
  }

  .movieResults-loading_container {
    margin-top: 10%;
  }

  .pageNumbers_individual_numbers {
    position: relative;
    margin-bottom: 10px;
  }
}
